* {
  font-family: 'Roboto', sans-serif;
  background-color: #E3D8C8;
  color: #615A4A;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 50vw;
  height: auto;
}

h4 {
  margin: 10px;
  padding: 0;
}

p {
  margin: 5px;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover h4:hover {
  color: #fff;
}

.rsvp-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rsvp-list li {
  text-decoration: none;
}

.invisible {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
