{% extends 'base.html' %}

{% block content %}
<main>
  {% if events %}
    {% for event in events %}
      <h2>RSVP to {{ event.title }}</h2>
        <form action="/guests" method="POST">
          <label for="name">Guest Name</label>
          <input type="text" name="name" id="name" required />
          <label for="email">Guest's Email</label>
          <input type="email" name="email" id="email" required />
          <label for="plus-one">Guest's Tagalong</label>
          <input type="text" name="plus-one" id="plus-one" />
          <label for="phone">Guest's Phone Number</label>
          <input type="tel" name="phone" id="phone" />
          <input type="hidden" name="event_id" value="{{ event.id }}">
          <input type="submit" />
        </form>
    {% endfor %}
  {% else %}
    <h3>No events to RSVP to right now!</h3>
  {% endif %}
</main>

{% endblock %}
