* {
  font-family: 'Roboto', sans-serif;
  background-color: #E3D8C8;
  color: #615A4A;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 50vw;
  height: auto;
}

.rsvp-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rsvp-list li {
  text-decoration: none;
}
