<!DOCTYPE html>
<html>

<head>
  <title>Relevant Holidays</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/guests">Guests</a>
      <a href="/rsvp">RSVP</a>
      <a href="/about">Events</a>
    </nav>
  </header>
  <footer>
    {% block content %}
    {% endblock %}
    <p>
      © FDIS 2020
    </p>
  </footer>
</body>

</html>
